[Desktop Entry]
Name=Cedy
GenericName=Cedy
Icon=cedy
Comment=Install codecs and additional software to Condres OS
Exec=cedy
Terminal=false
Type=Application
Categories=Utility;
Keywords=clean;codec;fix;install;proprietary;
